<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Rent-it</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/query">Catalog</a></li>
        <li><a routerLink="/delivery">Delivery Schedule</a></li>
        <li><a routerLink="/orders">Orders</a></li>
        <li><a routerLink="/search">Search By Id</a></li>
        <li><a routerLink="/maintenance">Maintenance</a></li>
      </ul>
      <button  class="btn btn-danger logout-button" (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
